body{
  background-color: #404040;
  font-family: 'Open Sans', sans-serif;
}


#main{
  width: 1148px;
  margin-right: auto;
  margin-left: auto;
  transform: scale(1);
  transform-origin: top;
  position: relative;
}

#title{
  margin-top: 15px;
  background-color: white;
  box-shadow: 10px 10px 6px #131313;
}

#logo{
  float: left;
  text-align: center;
  max-width: 93px;
  max-height: 93px;
  padding: 3px;
  padding-right: 4.5px;
  border-right: 2px dotted #575757;
}

.logoc{
  transition: transform 0.05s ease-out;
}

.logoc:hover{
  transform: scale(1.1);
}

#rs{
  float: left;
  color: black;
  position: relative;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1px;
  text-align: center;
  font-size: 56px;
  padding: 19px;
  width: 1007px;


  
}

#info{
  background-color: #303030;
  margin-top: 20px;
  color: #ffffff;
  padding: 10px;

}

.obcja{
  float: left;
  min-width: 65px;
  height: 26px;
  font-size: 18px;
  padding: 8px;
  border-right: 2px dotted #575757;
  transition: background-color .19s ease-in-out;
  opacity: 0.85;
  text-align: center;

}

.obcja:hover{
  background-color: #000000;
  cursor: pointer;
}

#lekcje{
  margin-top: 10px;
}

.lekcjaPi{
  float: left;
  width: 514px;
  padding: 20px;
  background-color: #eeeeee;
  min-height: 620px;
  margin: 0px 10px;
  text-align: justify;
}

.lekcjaPo{
  float: left;
  width: 1088px;
  padding: 20px;
  background-color: #eeeeee;
  min-height: 620px;
  margin: 15px 10px;
  column-count: 2;
  column-gap: 40px;
  text-align: justify;
}
