@use 'sass:map';
$breakpoints: (
  small: 43em,
  medium: 62em,
  large: 82em,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media screen and (min-width: $size) {
    @content;
  }
}

